@import "src/assets/styles/utils";

.field {
  display: block;
  &__input-wrapper {
    width: 100%;
    height: rem(30px);
    border: rem(1px) solid rgba(var(--white), 1);
    border-radius: rem(2px);
    color: rgba(var(--white), 1);
    & > input {
      height: 100%;
      width: 100%;
    }
  }
}
