@import "src/assets/styles/utils";

.modal-layer {
  &__wrapper {
    pointer-events: none;
    &--active {
      pointer-events: all;
    }
  }
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include useCustomScrollbar();
  min-height: 100%;
  &--active {
    background-color: rgba(0,0,0, 0.2);
  }
  &__modal {
    width: 100%;
  }
}
