@import "src/assets/styles/utils";

.app-modal {
  position: relative;
  max-width: 600px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__content {
    margin-top: 20px;
  }
  &__close-button {
    margin-left: auto;
  }
  &__loader {
    position: absolute;
    z-index: 300;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s opacity;
    pointer-events: none;
    &--active {
      opacity: 1;
      pointer-events: all;
    }
  }
}
