@import "src/assets/styles/utils";

.checkbox {
  @apply flex items-center mr-auto;
  &__input {
    appearance: none !important;
    -webkit-appearance: none !important;
    @apply border border-slate-200;
    @apply transition-all duration-100 ease-in-out;
    @apply w-5 h-5 shadow-sm cursor-pointer rounded focus:ring-4 focus:ring-offset-0 focus:ring-primary focus:ring-opacity-20 dark:bg-darkmode-800 dark:focus:ring-slate-700 dark:focus:ring-opacity-50;
    &:checked {
      @apply bg-primary border-primary border-opacity-10;
    }
    &:disabled:not(:checked) {
      @apply bg-slate-100 cursor-not-allowed dark:bg-darkmode-800/50;
    }
    &:disabled:checked {
      @apply opacity-70 cursor-not-allowed dark:bg-darkmode-800/50;
    }
  }
  &--checked {
    .checkbox__icon {
      opacity: 1;
    }
  }
  &__label {
    @apply cursor-pointer select-none;
  }
  &__check {
    @apply relative mr-2 flex justify-center items-center;
  }
  &__icon {
    opacity: 0;
    @apply absolute text-white pointer-events-none;
  }
}
