@import "src/assets/styles/utils";

.confirm-modal {
  max-width: 400px;
  &__icon {}
  &__label {}
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label, &__text {
    text-align: center;
  }
  &__text {}
  &__controls {}
  &__submit {}
}
