@import "src/assets/styles/utils";

.header {
  padding: 45px 54px;
  display: flex;
  justify-content: space-between;
  &__controls {
    display: flex;
    align-items: center;
  }
  &__control {
    &:not(:first-child) {
      margin-left: rem(14px);
    }
  }
  &__telegram-icon {
    margin-right: rem(10px);
  }
  &__instagram {
    margin-left: 10px;
  }
}
