@import "src/assets/styles/utils";

$size: 28px;
$bottomPartSize: 10px;

.telegram-airplane {
  transform-style: preserve-3d;
  transform: rotateX(40deg) rotateZ(37deg) translateY(-26%);
  transition: .2s transform;

  &__wrapper {
    width: rem($size);
    height: rem($size);
    perspective: rem(160px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      .telegram-airplane {
        transform: rotateX(60deg) rotateZ(30deg) translateY(-56%) translateX(-6%);
      }
    }
  }

  &__wings-svg, &__bottom-part-svg {
    stroke: rgb(var(--color-primary-2));
    fill: rgb(var(--color-background));
  }

  &__wings {
    display: flex;
    transform-style: preserve-3d
  }
  &__wing-left {
    width: rem($size / 2);
    height: rem($size);
    overflow: hidden;
    position: relative;
    transform: rotateY(-15deg);
    transform-origin: right;
    &-svg {
      position: absolute;
      left: 0;
      width: rem($size);
      height: rem($size);
    }
  }
  &__wing-right {
    width: rem($size / 2);
    height: rem($size);
    overflow: hidden;
    position: relative;
    transform: rotateY(15deg);
    transform-origin: left;
    &-svg {
      position: absolute;
      right: 0;
      width: rem($size);
      height: rem($size);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: rem($size);
    height: rem($size);
    transform-style: preserve-3d;
    transform: translateZ(-$bottomPartSize * 0.53) rotateX(-19deg);
    &-part-left, &-part-right {
      position: relative;
      width: rem($bottomPartSize);
      overflow: hidden;
    }
    &-part-right {
      transform: rotateY(-77deg) rotate(-19deg) translateX(rem(-4.5px));
      transform-origin: left;
      &-icon {
        position: absolute;
        left: 0;
        width: rem($bottomPartSize);
        transform: rotateY(180deg);
        height: rem($size);
      }
    }
    &-part-left {
      transform: rotateY(77deg) rotate(19deg) translateX(rem(4.5px));
      transform-origin: right;
      &-icon {
        position: absolute;
        right: 0;
        width: rem($bottomPartSize);
        height: rem($size);
      }
    }
  }
}
