@import "src/assets/styles/utils";

.instagram-camera {
  &__wrapper {
    perspective: 160px;
    cursor: pointer;
    width: rem(25px);
    height: rem(25px);
  }
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: .2s transform;
  &--active {
    transform: rotateY(-30deg);
  }
  &:hover {
    @include wider-than-tablet {
      transform: rotateY(-30deg);
    }
  }
  &__body, &__lens {
    background-color: rgba(var(--color-background), 1);
  }
  &__body, &__backside {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--color-primary-2));
    border-radius: rem(8px);
    position: relative;
  }
  &__backside {
    position: absolute;
    transform: translateZ(-6px);
  }
  &__flash {
    width: rem(2px);
    height: rem(2px);
    border-radius: 50%;
    background-color: rgb(var(--color-primary-2));
    position: absolute;
    top: rem(4px);
    right: rem(4px);
    transform: translateZ(rem(2px));
  }
  &__lens {
    position: absolute;
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    border: 1px solid rgb(var(--color-primary-2));
    transform: translateZ(rem(6px));
  }

  &__highlight {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(var(--color-background), 0.27);
    filter: blur(rem(4px));
    transform: translateY(-50%) translateX(-50%);
    transition: .2s opacity;
    pointer-events: none;
  }
}
