@import "utils";

body {
  &::-webkit-scrollbar-track {
    background: rgba(var(--color-primary-4), 1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-primary-3), 1);
    outline: none;
  }
  &::-webkit-scrollbar {
    width: rem(13px);
  }
}
