@import "utils";
@import "variables";


.dark {
  --color-black: #{extractRgb($black)};
  --color-white: #{extractRgb($white)};

  --color-primary-1: #{extractRgb($gray-3)};
  --color-primary-2: #{extractRgb($gray-2)};
  --color-primary-3: #{extractRgb($gray-1)};
  --color-primary-4: #{extractRgb($black)};
  --color-primary-accent: #{extractRgb($accent)};
  --color-primary-accent-dark: #{extractRgb($accent-dark)};
  --color-border: #{extractRgb($border)};
  --color-body-light: #{extractRgb($body-light)};
  --color-body-dark: #{extractRgb($body-dark)};
  --color-background: var(--color-primary-4);
}
