$white: #ffffff;
$black: #000000;

$gray-1: #636363;
$gray-2: #D7D7D7;
$gray-3: #F2F2F2;
$gray-4: #F6F6F6;
$accent: #0090FFFF;
$accent-dark: #0077ff;
$border: #33363DFF;
$body-light: #B5B7BFFF;
$body-dark: #93959CFF;
$orange: #FF955C;
$red: #FD7972;
$green: #58D786;
$light-green: #AEE553;
$yellow: #FFDB6E;
$blue: #81E3F0;
$purple: #B656EB;
$pink: #FD8BE4;
$heading: #FCFCFC;
$surface: #23262B;
$overlay-light: #30323B;
$background: #1D1E24;
$light-black: #151414;


