$white: #ffffff;
$black: #000000;

$gray-1: #636363;
$gray-2: #D7D7D7;
$gray-3: #F2F2F2;
$gray-4: #F6F6F6;
$accent: #0090FFFF;
$accent-dark: #0077ff;
$border: #33363DFF;
$body-light: #B5B7BFFF;
$body-dark: #93959CFF;


