<<<<<<< HEAD
.default-layout {
  &__header {
    position: sticky;
    top: 0;
  }
}
=======
.default-layout {
  &__header {
    position: sticky;
    top: 0;
  }
}
>>>>>>> d16a9bf58825136f5c26c8b878b116d80ced4fa1
